name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_project:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
      - run: npm test
